#alert{
    text-align: center;
		font-size: 25px;
}
#search{
	margin-top: 25px;
	font-size: 20px;
}
#cbdButton{
	margin-top: 25px;
	font-size: 20px;
}
.row .menubar{
  margin-top: 25px;
  font-size: 20px;
  min-width: 100px;
}
#resultsBox{
	margin-top: 20px;
}
#results{
	text-decoration: none;
	list-style-type: none;
}
/*
For card style
*/
#card{
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
	margin-bottom: 0px;
	width: 100%;
	display: inline-block;
	height: 56px;
}
#card:hover{
	background-color: #f076a3;
	color: white;
}
/*
For list style
*/
#cardName{
  margin-left: 22px;
  font-size: 17px;
}
#cardLead{
  /* float: left; */
}
#cardPlace{
  display: none;
}
#cardOwe{
  display: none;
}
#cardPhoto{
  display: none;
}
#card span{
  font-size: 13px;
  margin-left: 1%;
}
#card #pdf{
  height: 30px;
  float: right;
  width: 100%;
  display: none;
}
#entry{
	width: 100%;
	font-size: 17px;
	height: 40px;
}
#entry:hover{
	background-color: grey;
}
/*
Edit button style
*/
#edit{
	position: relative;
	width: auto;
	left: 0;
	margin-top: -19px;
	font-size: 20px;
	float: right;
}
